{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cancellation</title>
</head>
<form method="POST">
    {% csrf_token %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<body>
	<div class="container">
	<div>
		<header>
			<div class="logo">
				<a href="creating_header.html">
						<img src="{% static 'media/xie.png' %}" width="100px" length="50px" alt = "logo">
					</a>
				</div>
				<div class="search">
					<img src="{% static 'media/xie.png' %}" width="100px" length="50px" alt = "logo">				                  					
				</div>
			</header>

			<div class="clear"></div>
			<div class="nav">
                <ul>
                    <li><a href="{% url 'website_home' %}">Home</a></li>
                    <li><a href="{% url 'air_plane_about_us' %}">About</a></li>
                    <li><a href="{% url 'airline_contact_us' %}">Contact</a></li>


                    <li class="service">
                        <a href="#">Booking system</a>
                        <ul>
                            <li><a href="{% url 'airline_booking_journey_detail' %}">Journey detail</a></li>
                            <li><a href="{% url 'airline_website_payment_detail' %}">Payment details</a></li>
                            <li><a href="{% url 'airline_booking_cancelation' %}">Cancellation</a></li>

                        </ul>
                    </li>


                </ul>
	</div>
	</div>
    <section class="banner cycle-slideshow">
        <img src="{% static 'media/indigo.png' %}">
        <img src="{% static 'media/go air.jpg' %}">
        <img src="{% static 'media/air_india.jpg' %}">


    </section>
		<section class="content-holder">
            <form method="POST">
                {% csrf_token %}
            <article class="content">
                <h2>Cancellation</h2>
                <p>Note: Cancelling your ticket is only refundable upto 20% of your ticket</p>
                <p>Please Enter the required details: </p>

                <div class="customer_detail">
                    <table>
                        <tr>
                            <td>Name: </td>
                            <td><input type="text" name="name" required></td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td><input type="email" name="email" required></td>
                        </tr>
                        <tr>
                            <td>MOBILE NUMBER.:</td>
                            <td><input type="tel" name="contact_no" required=""></td>
                        </tr>
                        <tr>
                            <td>CANCELLATION DATE: </td>
                            <td><input type="date" name="Cancellation_date" required></td>
                        </tr>
                     
                        <tr>
                            <td><input type="submit" name="save" value="CANCEL BOOKING"></td>
                        </tr>

                    </table>
                </div>

                <div class="clear"></div>
                <p align="center">
                            {% if messages %}
                    <strong><font color="green" size="4">
                                {% for message in messages %}
                                {{message}}
                                {% endfor %}
                            </font></strong>
                              {% elif obj_datemsg %}
                    <strong><font color="red" size="4">
                              {{obj_datemsg}}
                            </font></strong>
                            {% endif %}
                </p>

            </article>
            </form>
    	<aside class="side-bar">
    		<div>
                <img src="{% static 'media/cancel_ticket.png' %}" width="170" height="500">
    		</div>
    	</aside>
    	<div class="clear"></div>
    </section>
        <footer class="footer">
            <div class="footer-main">

            </div>
            <div class="footer-main">

            </div>
            <div class="footer-main">

            </div>
            <div class="footer-main">

            </div>
            <div class="clear"></div>
        </footer>
    <div class ="copy">
    	<p><small> </small></p>
    </div>
    </div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://malsup.github.com/jquery.cycle2.js"></script>
</body>
</form>
</html>